.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* NAVBAR */

.login-signup-toggle {
  color: rgb(179, 255, 0);
  font-size: 1.5rem;
  position: absolute;
  right: 3rem;
}
.login-signup-toggle:hover {
  color: yellow;
  cursor: pointer;
  text-decoration: none;
}

.home-link-navbar {
  color: rgb(179, 255, 0);
  font-size: large;
  font-weight: bold;
  position: relative;
  left: 1rem;
}
.home-link-navbar:hover {
  color: yellow;
  cursor: pointer;
  text-decoration: none;
}


/* LOGIN/SIGNUP FORM */

.signup-password-validation {
  font-size: 1rem;
  color: red;
}

