.App {
  text-align: center;
}

body {
  background: url('https://images.pexels.com/photos/67325/pexels-photo-67325.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin-top: 13rem;
}

/* NAVBAR */

.login-signup-toggle, .login-signup-toggle:focus, .login-signup-toggle:active {
  color: rgb(179, 255, 0);
  font-size: 1.5rem;
  position: absolute;
  right: 3rem;
  text-decoration: none;
}
.login-signup-toggle:hover {
  color: yellow;
  cursor: pointer;
  text-decoration: none;
}

.home-link-navbar {
  color: rgb(179, 255, 0);
  font-size: large;
  font-weight: bold;
  position: relative;
  left: 1rem;
}
.home-link-navbar:hover {
  color: yellow;
  cursor: pointer;
  text-decoration: none;
}
.home-link-navbar:visited, .home-link-navbar:focus {
  color: rgb(179, 255, 0);
  font-size: large;
  font-weight: bold;
  position: relative;
  display: inline-block;
  left: 1rem;
  text-decoration: none;
}

.navbar-sublink {
  color: rgb(179, 255, 0);
  text-decoration: none;
}
.navbar-sublink:hover {
  color: yellow;
  text-decoration: none;
}
.navbar-sublink:visited {
  text-decoration: none;
}
.navbar-sublink:focus {
  color: yellow;
  text-decoration: none;
}

.navbar-list-item {
  color: rgb(179, 255, 0);
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  margin: 0 2rem 1rem;
  text-decoration: none;
}

.my-nav {
  background-color: rgb(48, 47, 47);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}


/* HOMECONTAINER */

.home-body-div {
  background-color: cornsilk;
  border: solid grey;
  opacity: .85;
}

.home-paragraph {
  letter-spacing: .1rem;
}

.winner-paragraph {
  font-weight: bold;
}


/* LOGIN/SIGNUP FORM */

.signup-password-validation {
  font-size: 1rem;
  color: red;
}

.logout-or-login {
  margin-top: -17px;
}

.login-signup-form {
  background-color: cornsilk;
  border: solid black;
  border-radius: 10px;
  opacity: .85;
  padding-bottom: 2rem;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20%;
}

#fetching-errors {
  background-color: whitesmoke;
  border-radius: 10px;
  color: rgb(241, 104, 104);
  padding-left: .5rem;
  padding-right: .5rem;
  position: absolute;
  top: 15rem;
  left: 40%;
  width: auto;
}


/* TOURNAMENT(S) */

.new-tournament-form {
  background-color: cornsilk;
  border: solid black;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  opacity: .85;
  padding-bottom: 2rem;
}

.tournament-list-item {
  background-color: cornsilk;
  border: solid green;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 30%;
  opacity: .85;
  width: 40%;
}

.tournaments-container {
  text-align: center;
}

.tournament-button {
  background-color: rgb(187, 180, 180);
  color: black;
  display: inline-block;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.newtournament-date-validation {
  font-size: 1.3rem;
  color: red;
}

.tournament-list-error {
  background-color: red;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: -3rem;
  margin-left: 36%;
  width: 30%;
}


/* SHOW TOURNAMENT PAGE */

/* .showtournament-ul {
  border: solid black;
} */

.showtournament-div {
  background-color: cornsilk;
  border: solid black;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  opacity: .85;
}

.showtournament-description {
  margin-left: 5rem;
  margin-right: 5rem;
}

.showtournament-users-and-tasks {
  display: flex; 
  align-items: top;
  text-align: center;
}

.showtournament-task-container {
  display: inline-block;
  width: 48%;
}

.showtournament-user-container {
  display: inline-block;
  width: 48%;
}

.showtournament-task {
  display: inline-block;
}

.showtournament-user {
  display: inline-block;
}

.showtournament-task-points {
  display: inline-block;
  margin-left: 1rem;
}

.log-task-link {
  display: inline-block;
  margin-left: 1rem;
  cursor: pointer;
}


/* TASKS */

.create-task-form {
  background-color: cornsilk;
  border: solid black;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  opacity: .85;
  padding-bottom: 2rem;
}

.task-back-button {
  margin-top: 1rem;
}


/* USERS */

.user-card {
  background-color: cornsilk;
  border: solid black;
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: .85;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: auto;
}

div.user-card ~ div {
  height: 500px;
}

.user-list-profile-pic {
  border: solid black 1px;
  border-radius: 10px;
  height: 35%;
  width: 35%;
}
